# dependencies
node_modules/

# environment variables
.env
.env.local

# logs
logs/
*.log
npm-debug.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
